/* Navigation bar styles */
body{
  background-color: #b7c48b;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/Quicksand.ttf") format("truetype");
  /* font-weight: normal; */
  font-style: normal;
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 1000;

  width: 100%;
  max-width: 1200px;

  margin: 20px auto 0 auto;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    to bottom,
    #b7c48b 10%,
    #a1b076 30%,
    #788552 60%,
    #536036 100%
  );

  /* box-shadow:
    inset 0 2px 4px rgba(255,255,255,0.35),
    inset 0 -2px 4px rgba(0,0,0,0.2),
    0 8px 20px rgba(0,0,0,0.15); */

  /* border-radius: 100px; */
  padding-top: 0.25rem;
  padding-bottom: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  /* box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.15),
    0 4px 8px rgba(0, 0, 0, 0.1); */
}

.navbar-logo {
  font-size: 1.25rem;
  font-weight: Bold;
  padding: 0.6rem 1rem;
  border-radius: 999px;
  color: #3D4728;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;

  /* transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease; */
}

/* .navbar-logo:hover {
  color: #f7eddb;
  background-color: #536036;
  transform: translateY(-2px);
} */

.navbar-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: #3D4728;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-weight: 500;

  border-radius: 999px;
  padding: 0.6rem 1rem;

  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    transform 0.2s ease;
}

.navbar-links a:hover {
  color: #f7eddb;
  background-color: #536036;
  transform: translateY(-2px);
}

section {
  background-color: #536036;
  padding: 5rem 2rem;
  min-height: 60vh;
}

#home {
  background-color: #536036;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  /* background-color: #f7eddb; */
  font-size: 3rem;
}

h2 {
  /* background-color: #f7eddb; */
  font-size: 2rem;
}

/* Homescreen styles */

/* about screen styles */

/* portfolio screen styles */

/* contact screen styles */