/* Navigation bar styles */

/* Navigation bar styles */

:root {
  --gold: #D9BF77;
  --terracotta: #A45A3D;
  --copper: #B86B4A;
  --dark-walnut: #462216;
  --walnut: #6b3b26;
  --walnut-red: #451b0c;
  --light-red: #e4d6c3;
  --stone: #C4B6A6;
  --cream: #E8DAB2;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/Quicksand.ttf") format("truetype");
  font-style: normal;
}

body {
  margin: 0;
  background-color: var(--walnut-red);
  color: var(--cream);
  font-family: "Quicksand", sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: rgba(69, 27, 12, 0.6);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  padding: 1.5rem 4rem;
}

.navbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;

  width: 100%;
  height: 50px;

  background: linear-gradient(
    to bottom,
    rgba(69, 27, 12, 0.4),
    rgba(69, 27, 12, 0),
    /* rgba(107, 66, 38, 0.4), */
    /* rgba(107, 66, 38, 0) */
  );

  pointer-events: none;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  color: var(--cream);
  text-decoration: none;

  position: relative;
  display: inline-flex;
  align-items: center;

  padding: 0rem 0.5rem;
  margin-right: 6rem;

  font-weight: 700;
  font-size: 1.1rem;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.5rem;

  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: var(--cream);
  text-decoration: none;

  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 1.4rem;

  line-height: 1;
}

.navbar-links a::before,
.navbar-links a::after {
  content: "";
  position: absolute;
  top: 50%;

  width: 12px;
  height: 26px;

  opacity: 0;
  transform: translateY(-50%);

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.navbar-links a::before {
  left: 0;

  border-left: 3px solid var(--gold);
  border-top: 3px solid var(--gold);
  border-bottom: 3px solid var(--gold);
}

.navbar-links a::after {
  right: 0;

  border-right: 3px solid var(--gold);
  border-top: 3px solid var(--gold);
  border-bottom: 3px solid var(--gold);
}

.navbar-links a:hover {
  color: var(--gold);
}

.navbar-links a:hover::before,
.navbar-links a:hover::after {
  opacity: 1;
}

.home-page {
  min-height: 90vh;

  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;

  padding: 3rem 6rem;
  gap: 3rem;
}

.home-text h1 {
  font-size: 4rem;
  color: var(--cream);
  margin: 20px 50px;
}

.home-text h2 {
  font-size: 2.5rem;
  color: var(--cream);
}

.accent {
  color: var(--walnut);
}

.home-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.primary-button,
.secondary-button {
  padding: 0.9rem 1.4rem;
  text-decoration: none;
  font-weight: 700;

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease;
}

.primary-button {
  background-color: var(--walnut);
  color: var(--cream);
}

.primary-button:hover {
  background-color: var(--gold);
  color: var(--walnut);
  transform: translateY(-2px);
}

.secondary-button {
  border: 2px solid var(--gold);
  color: var(--cream);
}

.secondary-button:hover {
  background-color: var(--gold);
  color: var(--walnut);
  transform: translateY(-2px);
}

.home-visual {
  display: flex;
  justify-content: center;
}

.profile-circle {
  width: 350px;
  height: 350px;

  border-radius: 50%;

  background-color: var(--walnut);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Homescreen styles */

/* about screen styles */

/* portfolio screen styles */

/* contact screen styles */